{% extends 'base.html' %}

<!--It will fill the content block from base.html with the markup we have defined here-->
{% block content %}
<h1>Products</h1>
<!--For formatting our page with CSS cards-->
<!--Maybe some images won't work because I used copyrighted images-->
<div class="row">
    {% for product in products %}
        <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{ product.image_url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">${{ product.price }}</p>
                <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

<!--<ul>-->
<!--    &lt;!&ndash;    Creating a template tag, we loop over the products&ndash;&gt;-->
<!--    {% for product in products %}-->
<!--    <li>{{ product.name }} (${{ product.price }})</li>-->
<!--    {% endfor %}-->
<!--</ul>-->
